* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: brown;
    background-color: #ffffff;
    max-height: 120px;
    font-size: xx-large;
    width: 100%;
}

.header img {
    display: flex;
    height: 120px;
}

.header img:last-child {
    display: flex;
    height: 70px;
}

.containe {
    background-color: brown;
    width: 90%;
    min-height: 800px;
    padding-top: 30px !important;
}

.tableau {
    z-index: 100;
    background-color: silver;
    /* padding-left: 20px; */
    margin-left: 30px;
    margin-right: -50px;
}

footer {
    min-height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: brown;
    background-color: #fff;
}

@media only screen and (max-width:700px) {
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: brown;
        background-color: #ffffff;
        max-height: 60px;
        font-size: 15px;
        width: 100%;
    }
    .header img {
        display: flex;
        height: 55px;
    }
    .header img:last-child {
        display: flex;
        height: 30px;
    }
    .containe {
        background-color: brown;
        width: 90%;
        min-height: 400px;
        padding-top: 15px !important;
    }
    .tableau {
        z-index: 100;
        background-color: silver;
        /* padding-left: 20px; */
        /* margin-left: 15px;
        margin-right: -25px; */
    }
    footer {
        min-height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: brown;
        background-color: #fff;
    }
}